Repository pr1m8/pydevelop-docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  - repo: local
    hooks:
      - id: check-intersphinx
        name: Check intersphinx mappings
        entry: bash -c 'cd docs && poetry run sphinx-build -b linkcheck -W --keep-going source build/linkcheck'
        language: system
        files: '\.(rst|md|py|toml)$'
        pass_filenames: false
        verbose: true

      - id: validate-sphinx-build
        name: Validate Sphinx documentation build
        entry: bash -c 'cd docs && poetry run sphinx-build -b html -W --keep-going source build/test'
        language: system
        files: '^docs/.*\.(rst|md|py)$|^pyproject\.toml$'
        pass_filenames: false

      - id: clear-intersphinx-cache
        name: Clear intersphinx cache if dependencies changed
        entry: bash -c 'if git diff --cached --name-only | grep -q "pyproject.toml"; then poetry run python -m seed_intersphinx_mapping; fi'
        language: system
        files: '^pyproject\.toml$'
        pass_filenames: false

feat(testing): add comprehensive visual testing with feedback loop
  docs/guides/SCREENSHOT_TESTING_GUIDE.md
  docs/source/guides/index.rst
  docs/source/index.rst
  scripts/visual_test_runner.py
  scripts/watch_and_test.py
Due: check-intersphinx, validate-sphinx-build

docs: add CSS fix implementation summary
  project_docs/testing/VISUAL_TESTING_IMPLEMENTATION_SUMMARY.md
  scripts/analyze_screenshot_results.py
  src/pydevelop_docs/config.py
  visual_test_analysis.json
Due: check-intersphinx

feat(pydevelop-docs): add documentation server and screenshot testing tools
  CLAUDE.md
  docs/source/_autoapi_templates/index.rst
  docs/source/_static/css/custom.css
  docs/source/conf.py
  pyproject.toml
  scripts/serve_and_screenshot.py
  scripts/serve_docs.sh
  scripts/test_haive_docs.sh
  src/pydevelop_docs/config.py
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

fix(pydevelop-docs): resolve navigation and documentation issues
  .gitignore
  docs/source/autoapi/index.rst
  docs/source/configuration.rst
  docs/source/getting_started.rst
  docs/source/index.rst
  docs/source/themes.rst
  scripts/serve_and_screenshot.py
Due: check-intersphinx, validate-sphinx-build

feat(docs): successfully build haive-agents documentation
  AUGUST_15_17_COMMIT_ANALYSIS.md
  AUGUST_15_QUALITY_FEEDBACK.md
  BEST_COMMIT_BEFORE_BAD_CSS.md
  COMPLETE_DOCUMENTATION_SYSTEM_GUIDE.md
  COMPREHENSIVE_CODEBASE_ANALYSIS.md
  DOCUMENTATION_STYLING_NOTES.md
  RECOVERY_PLAN_COMPLETE.md
  STYLING_IMPROVEMENTS_SUMMARY.md
  all_aug15_commits.txt
  analyze_css_by_branch.py
  analyze_project_evolution.py
  clean.txt
  commit_css_timeline.py
  commit_reality_check.py
  docs/source/_static/breadcrumb-navigation.css
  docs/source/_static/enhanced-design.css
  docs/source/_templates/layout.html
  docs/source/autoapi/index.rst
  manual_build_all.py
  names-only.txt
  poetry.lock
  requirements-clean.txt
  requirements-names-only.txt
  requirements-unpinned.txt
  run_docs_build.sh
  run_enhanced_build.sh
  scripts/test_api_styling.sh
  src/pydevelop_docs/config.py
  src/pydevelop_docs/templates/static/api-function-styling.css
Due: check-intersphinx, validate-sphinx-build

feat(tools): add build utilities and recovery tools
  build_haive_core.py
  recovery_tools.py
Due: check-intersphinx

chore: prepare for isolation as standalone package
  .gitignore
  CLAUDE.md
  build_haive_core.py
  build_haive_docs.sh
  build_haive_mcp.sh
  haive_core_error_analysis.md
  unified-haive-docs/source/conf.py
Due: check-intersphinx

docs: add isolation completion summary
  ISOLATION_COMPLETE.md
Due: check-intersphinx

feat: add generalized CLI commands for any Python project
  src/pydevelop_docs/cli.py
  src/pydevelop_docs/general_setup.py
Due: check-intersphinx

fix: improve package detection for monorepos and fix config call
  src/pydevelop_docs/general_setup.py
Due: check-intersphinx

feat: complete PyDevelop-Docs with comprehensive test suite and deployment setup
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .readthedocs.yaml
  DEPLOYMENT_SETUP.md
  GENERALIZED_CLI_TESTING_COMPLETE.md
  README.md
  TESTING_IMPLEMENTATION_COMPLETE.md
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  pyproject.toml
  scripts/extract_requirements.py
  src/pydevelop_docs/__init__.py
  src/pydevelop_docs/builders.py
  src/pydevelop_docs/cli.py
  src/pydevelop_docs/config.py
  src/pydevelop_docs/general_setup.py
  tests/README.md
  tests/conftest.py
  tests/run_tests.py
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

fix: update GitHub Actions to v4 to fix deprecated artifact upload
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

fix: regenerate poetry.lock to sync with pyproject.toml
  poetry.lock
Due: none

fix: update all GitHub Actions to latest versions
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  PYPI_RELEASE_GUIDE.md
Due: check-intersphinx

fix: add graphviz-dev for pygraphviz compilation
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  QUICK_RELEASE.md
Due: check-intersphinx

fix: use exact version for sphinx-collections to fix pip install
  IMPORT_TO_RTD.md
  docs/requirements.txt
Due: check-intersphinx

docs: improve documentation build configuration
  docs/BUILDING_DOCS.md
  docs/apt-requirements.txt
  docs/build-with-deps.sh
  docs/source/conf.py
Due: check-intersphinx, validate-sphinx-build

ci: add release workflow and update all actions to v5
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

chore: bump version to 0.1.2
  pyproject.toml
  src/pydvlp_docs/__init__.py
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

docs: improve Read the Docs configuration
  .readthedocs.yaml
  RTD_IMPORT_GUIDE.md
Due: check-intersphinx

fix: remove non-existent sphinx_library extension
  pyproject.toml
  src/pydvlp_docs/__init__.py
  src/pydvlp_docs/config.py
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

fix: add graphviz-dev to CI workflow
  .github/workflows/ci.yml
Due: none

fix: comment out sphinx-collections in requirements.txt
  docs/requirements.txt
Due: none

build: add ruff and mypy to dev dependencies
  poetry.lock
  pyproject.toml
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

style: fix linting and formatting issues
  pyproject.toml
  src/pydvlp_docs/__init__.py
  src/pydvlp_docs/autofix.py
  src/pydvlp_docs/build_error_classifier.py
  src/pydvlp_docs/build_monitor.py
  src/pydvlp_docs/builders.py
  src/pydvlp_docs/cli.py
  src/pydvlp_docs/cli_config_consolidation.py
  src/pydvlp_docs/cli_refactor.py
  src/pydvlp_docs/commands.py
  src/pydvlp_docs/config.py
  src/pydvlp_docs/config_debug.py
  src/pydvlp_docs/config_discovery.py
  src/pydvlp_docs/display.py
  src/pydvlp_docs/general_setup.py
  src/pydvlp_docs/hooks.py
  src/pydvlp_docs/interactive.py
  src/pydvlp_docs/link_builder.py
  src/pydvlp_docs/mock_operations.py
  src/pydvlp_docs/package_auditor.py
  src/pydvlp_docs/package_handlers.py
  src/pydvlp_docs/smart_builder.py
  src/pydvlp_docs/sphinx_debug.py
  src/pydvlp_docs/template_manager.py
  src/pydvlp_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/_filters/__init__.py
  src/pydvlp_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/_filters/type_filters.py
  src/pydvlp_docs/templates/central_hub_conf.py
  src/pydvlp_docs/utils.py
  src/pydvlp_docs/watcher.py
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

fix: correct autodoc-pydantic package name in requirements.txt
  docs/requirements.txt
Due: none

fix: update module imports from pydvlp_docs to pydvlppy
  .github/workflows/ci.yml
  tests/integration_test.py
  tests/test_templates.py
  tests/test_tippy_functionality.py
  tests/validate_templates.py
Due: check-intersphinx
