Repository pr1m8/pydevelop-docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  - repo: local
    hooks:
      - id: check-intersphinx
        name: Check intersphinx mappings
        entry: bash -c 'cd docs && poetry run sphinx-build -b linkcheck -W --keep-going source build/linkcheck'
        language: system
        files: '\.(rst|md|py|toml)$'
        pass_filenames: false
        verbose: true

      - id: validate-sphinx-build
        name: Validate Sphinx documentation build
        entry: bash -c 'cd docs && poetry run sphinx-build -b html -W --keep-going source build/test'
        language: system
        files: '^docs/.*\.(rst|md|py)$|^pyproject\.toml$'
        pass_filenames: false

      - id: clear-intersphinx-cache
        name: Clear intersphinx cache if dependencies changed
        entry: bash -c 'if git diff --cached --name-only | grep -q "pyproject.toml"; then poetry run python -m seed_intersphinx_mapping; fi'
        language: system
        files: '^pyproject\.toml$'
        pass_filenames: false

docs: add comprehensive Haive documentation build guides
  project_docs/guides/HAIVE_DOCUMENTATION_BUILD_GUIDE.md
  project_docs/guides/QUICK_BUILD_COMMANDS.md
  scripts/build-haive-docs.sh
Due: check-intersphinx

feat: enhanced pydevelop-docs with logging, package ignore, and monorepo support
  .gitignore
  .pydevelop/config.yaml
  .pydevelop/docs.yaml
  .pydevelop/hooks/on-change.sh.example
  .pydevelop/hooks/post-build.py.example
  .pydevelop/hooks/post-init.py.example
  .pydevelop/hooks/pre-build.sh.example
  .pydevelop/templates/conf.py.override.example
  .pydevelop/templates/rst_templates/index.rst.example
  src/pydevelop_docs/builders.py
  src/pydevelop_docs/cli.py
  src/pydevelop_docs/config_discovery.py
  src/pydevelop_docs/hooks.py
  src/pydevelop_docs/watcher.py
Due: check-intersphinx

feat: implement AutoAPI template distribution fix
  project_docs/TEMPLATE_AUDIT_AND_FIX_PLAN.md
  project_docs/TEMPLATE_FIX_ACTION_PLAN.md
  project_docs/TEMPLATE_ISSUES_SUMMARY.md
  project_docs/issues/TEMPLATE_CONFIGURATION_MESS_ANALYSIS.md
  project_docs/issues/TEMPLATE_FIX_IMPLEMENTATION.md
  project_docs/issues/TEMPLATE_FIX_RESULTS.md
  project_docs/issues/TEMPLATE_ORGANIZATION_AUDIT.md
  src/pydevelop_docs/cli.py
  src/pydevelop_docs/config.py
Due: check-intersphinx

fix: remove custom AutoAPI templates in favor of default templates
  docs/source/_autoapi_templates/python/class.rst
  docs/source/_autoapi_templates/python/dataclass.rst
  docs/source/_autoapi_templates/python/module.rst
  docs/source/conf_modules/autoapi.py
  project_docs/AUTOAPI_TEMPLATE_DECISION.md
  src/pydevelop_docs/cli.py
  src/pydevelop_docs/config.py
  src/pydevelop_docs/templates/_autoapi_templates/python/_base/foundation.j2
  src/pydevelop_docs/templates/_autoapi_templates/python/_base/progressive.j2
  src/pydevelop_docs/templates/_autoapi_templates/python/_components/code_blocks.j2
  src/pydevelop_docs/templates/_autoapi_templates/python/_components/diagrams.j2
  src/pydevelop_docs/templates/_autoapi_templates/python/_components/navigation.j2
  src/pydevelop_docs/templates/_autoapi_templates/python/_components/tooltips.j2
  src/pydevelop_docs/templates/_autoapi_templates/python/_filters/__init__.py
  src/pydevelop_docs/templates/_autoapi_templates/python/_filters/type_filters.py
  src/pydevelop_docs/templates/_autoapi_templates/python/_macros/type_specific.j2
  src/pydevelop_docs/templates/_autoapi_templates/python/attribute.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/class.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/function.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/index.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/method.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/module.rst
  src/pydevelop_docs/templates/doc_templates/configuration.rst.jinja2
Due: check-intersphinx, validate-sphinx-build

fix: AutoAPI template RST formatting issues
  project_docs/pydevelop_docs/AUTOAPI_TEMPLATES_RESTORATION_20250813.md
Due: check-intersphinx

fix: AutoAPI Module Contents dark mode visibility
  src/pydevelop_docs/templates/static/css/furo-intense.css
Due: none

docs: comprehensive pydevelop-docs package analysis and cleanup roadmap
  project_docs/CLEANUP_ROADMAP_20250815.md
  project_docs/PYDEVELOP_DOCS_PACKAGE_ANALYSIS_20250815.md
  pydevelop_notes/TEMPLATE_SYSTEM_ANALYSIS_20250815.md
Due: check-intersphinx

feat: emergency template cleanup - fix broken AutoAPI templates
  docs/source/conf_clean.py
  docs/source/conf_generated.py
  docs/source/conf_modular.py
  docs/source/conf_test.py
  project_docs/archive/2025-08-15-cleanup/AUTOAPI_TEMPLATE_DECISION.md
  project_docs/archive/2025-08-15-cleanup/TEMPLATE_AUDIT_AND_FIX_PLAN.md
  project_docs/archive/2025-08-15-cleanup/TEMPLATE_FIX_ACTION_PLAN.md
  project_docs/archive/2025-08-15-cleanup/TEMPLATE_ISSUES_SUMMARY.md
  src/pydevelop_docs/templates/_autoapi_templates/python/module.rst
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/_base/foundation.j2
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/_base/progressive.j2
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/_components/code_blocks.j2
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/_components/diagrams.j2
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/_components/navigation.j2
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/_components/tooltips.j2
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/_filters/__init__.py
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/_filters/type_filters.py
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/_macros/type_specific.j2
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/attribute.rst
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/class.rst
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/function.rst
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/index.rst
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/method.rst
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/module.rst
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/module.rst
Due: check-intersphinx, validate-sphinx-build

feat: FINAL FIX - replace broken templates with correct AutoAPI defaults
  src/pydevelop_docs/templates/_autoapi_templates/index.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/_base/foundation.j2
  src/pydevelop_docs/templates/_autoapi_templates/python/_base/progressive.j2
  src/pydevelop_docs/templates/_autoapi_templates/python/_components/code_blocks.j2
  src/pydevelop_docs/templates/_autoapi_templates/python/_components/diagrams.j2
  src/pydevelop_docs/templates/_autoapi_templates/python/_components/navigation.j2
  src/pydevelop_docs/templates/_autoapi_templates/python/_components/tooltips.j2
  src/pydevelop_docs/templates/_autoapi_templates/python/_filters/__init__.py
  src/pydevelop_docs/templates/_autoapi_templates/python/_filters/type_filters.py
  src/pydevelop_docs/templates/_autoapi_templates/python/_macros/type_specific.j2
  src/pydevelop_docs/templates/_autoapi_templates/python/attribute.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/class.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/data.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/exception.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/function.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/index.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/method.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/package.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/property.rst
  test-projects/test-haive-template/docs/source/_autoapi_templates/index.rst
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/_base/foundation.j2
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/_base/progressive.j2
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/_components/code_blocks.j2
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/_components/diagrams.j2
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/_components/navigation.j2
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/_components/tooltips.j2
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/_filters/__init__.py
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/_filters/type_filters.py
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/_macros/type_specific.j2
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/attribute.rst
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/class.rst
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/data.rst
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/exception.rst
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/function.rst
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/index.rst
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/method.rst
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/package.rst
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/property.rst
Due: check-intersphinx

feat(templates): enhance AutoAPI templates with modern design and dropdowns
  src/pydevelop_docs/cli.py
  src/pydevelop_docs/config.py
  src/pydevelop_docs/templates/_autoapi_templates/index.rst
  src/pydevelop_docs/templates/_autoapi_templates/python/module.rst
  src/pydevelop_docs/templates/doc_templates/modern_index.rst.jinja2
  src/pydevelop_docs/templates/doc_templates/modern_quickstart.rst.jinja2
  src/pydevelop_docs/templates/static/enhanced-design.css
Due: check-intersphinx

refactor: simplify AutoAPI module template from dropdowns to clean admonitions
  src/pydevelop_docs/config.py
  src/pydevelop_docs/templates/_autoapi_templates/python/module.rst
  src/pydevelop_docs/templates/static/enhanced-design.css
Due: check-intersphinx

feat(autoapi): comprehensive template customization for modern documentation
  AUTOAPI_COMPREHENSIVE_DOCUMENTATION.md
  AUTOAPI_CUSTOMIZATION_STATE.md
  src/pydevelop_docs/config.py
  src/pydevelop_docs/templates/static/enhanced-design.css
Due: check-intersphinx

feat: AutoAPI hierarchical structure with TOC template fixes
  AUTOAPI_TOC_SHORT_NAMES_SOLUTION.md
  docs/source/_static/css/custom.css
  docs/source/_static/furo-intense.css
  scripts/build-docs.sh
  src/pydevelop_docs/config.py
  src/pydevelop_docs/templates/_autoapi_templates/index.rst
Due: check-intersphinx

fix: improve AutoAPI hierarchical structure by filtering to top-level modules only
  TOC_SHORT_NAMES_SOLUTION.md
  docs/Makefile
  docs/source/_autoapi_templates/index.rst
  docs/source/_autoapi_templates/python/attribute.rst
  docs/source/_autoapi_templates/python/class.rst
  docs/source/_autoapi_templates/python/data.rst
  docs/source/_autoapi_templates/python/exception.rst
  docs/source/_autoapi_templates/python/function.rst
  docs/source/_autoapi_templates/python/method.rst
  docs/source/_autoapi_templates/python/module.rst
  docs/source/_autoapi_templates/python/package.rst
  docs/source/_autoapi_templates/python/property.rst
  docs/source/conf.py
  docs/source/index.rst
  pyproject.toml
  temp_claude.txt
  test-projects/test-haive-template/packages/testhaive-tools/docs/source/autoapi/conf/index.rst
  test-projects/test-haive-template/packages/testhaive-tools/docs/source/autoapi/index.rst
  test-projects/test-haive-template/packages/testhaive-tools/docs/source/autoapi/testhaive/index.rst
  test-projects/test-haive-template/packages/testhaive-tools/docs/source/autoapi/testhaive/tools/index.rst
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

fix: simplify AutoAPI index template to fix toctree rendering
  src/pydevelop_docs/templates/_autoapi_templates/index.rst
Due: check-intersphinx

fix: clean up all template djLint warnings
  project_docs/BREADCRUMB_TESTING_APPROACH.md
  project_docs/CSS_USAGE_ANALYSIS.md
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/_components/diagrams.j2
  src/pydevelop_docs/templates/_autoapi_templates_BROKEN_BACKUP/python/_components/tooltips.j2
  src/pydevelop_docs/templates/doc_templates/configuration.rst.jinja2
  src/pydevelop_docs/templates/doc_templates/installation.rst.jinja2
  src/pydevelop_docs/templates/doc_templates/quickstart.rst.jinja2
  src/pydevelop_docs/templates/doc_templates/section_index.rst.jinja2
Due: check-intersphinx

feat: comprehensive functionality validation and testing
  test-projects/test-haive-template/docs/source/autoapi/conf/index.rst
  test-projects/test-haive-template/docs/source/autoapi/demo_autoapi_issue/index.rst
  test-projects/test-haive-template/docs/source/autoapi/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/agents/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/agents/react/agent/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/agents/react/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/agents/simple/agent/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/agents/simple/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/core/engine/config/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/core/engine/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/core/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/core/schema/base/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/core/schema/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/core/schema/meta/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/core/schema/state/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/core/tools/base/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/core/tools/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/tools/index.rst
  tests/COMPREHENSIVE_FUNCTIONALITY_REPORT.md
  tests/test_tippy_functionality.py
Due: check-intersphinx

feat: add test script for Haive documentation utilities
  scripts/test_haive_utils.py
Due: check-intersphinx

feat: add Haive documentation rebuild command and utilities
  src/pydevelop_docs/cli.py
  src/pydevelop_docs/haive_utils.py
Due: check-intersphinx

feat: enhance documentation layout and styling
  test-projects/test-haive-template/docs/source/_autoapi_templates/index.rst
  test-projects/test-haive-template/docs/source/_autoapi_templates/python/module.rst
  test-projects/test-haive-template/docs/source/_static/breadcrumb-navigation.css
  test-projects/test-haive-template/docs/source/_static/enhanced-design.css
  test-projects/test-haive-template/docs/source/_templates/layout.html
  test-projects/test-haive-template/docs/source/conf.py
Due: check-intersphinx

feat: complete Haive documentation rebuild implementation
  HAIVE_REBUILD_GUIDE.md
  project_docs/CLI_CSS_UNIFICATION_IMPLEMENTATION.md
  project_docs/HAIVE_REBUILD_IMPLEMENTATION_COMPLETE.md
Due: check-intersphinx

feat: add build error classification module for Sphinx documentation
  src/pydevelop_docs/build_error_classifier.py
  src/pydevelop_docs/haive_utils.py
Due: check-intersphinx

feat(build): add smart documentation build system with error classification
  src/pydevelop_docs/build_error_classifier.py
  src/pydevelop_docs/build_monitor.py
  src/pydevelop_docs/package_auditor.py
  src/pydevelop_docs/smart_builder.py
Due: check-intersphinx

feat(utils): integrate smart build system with existing utilities
  run_smart_build.py
  scripts/test_utils.py
  src/pydevelop_docs/utils.py
Due: check-intersphinx

feat(testing): add comprehensive Playwright documentation testing suite
  tests/playwright/README.md
  tests/playwright/__init__.py
  tests/playwright/core/test_documentation.py
  tests/playwright/reports/generate_test_report.py
  tests/playwright/requirements.txt
  tests/playwright/runners/run_doc_tests.py
Due: check-intersphinx

docs(testing): add comprehensive test reports and analysis
  PLAYWRIGHT_TESTING_COMPLETE_REPORT.md
  doc_test_results_20250815_194748/PLAYWRIGHT_TEST_SUMMARY.md
  haive_core_error_analysis.md
Due: check-intersphinx

refactor(core): remove haive-specific utilities and update core files
  docs/source/_static/css/custom.css
  scripts/test_haive_utils.py
  src/pydevelop_docs/__init__.py
  src/pydevelop_docs/cli.py
  src/pydevelop_docs/haive_utils.py
Due: check-intersphinx

chore(git): update .gitignore for test artifacts and temporary files
  .gitignore
Due: none

docs(test): add AutoAPI hierarchical fix validation notes
  test-projects/test-haive-template/2025-08-15-docs-fixing.txt
Due: none

fix: remove admonition over-styling to restore Furo semantic theming
  docs/source/_static/css/custom.css
  docs/source/_static/furo-intense.css
  src/pydevelop_docs/config.py
Due: check-intersphinx

docs(test): add AutoAPI hierarchical fix validation notes
  debug/screenshots/admonition_final_fixed_20250815_204720_dark_full.png
  debug/screenshots/admonition_final_fixed_20250815_204720_dark_viewport.png
  debug/screenshots/admonition_final_fixed_20250815_204720_light_full.png
  debug/screenshots/admonition_final_fixed_20250815_204720_light_viewport.png
  debug/screenshots/admonition_test_after_fix_20250815_204200_dark_full.png
  debug/screenshots/admonition_test_after_fix_20250815_204200_dark_viewport.png
  debug/screenshots/admonition_test_after_fix_20250815_204200_light_full.png
  debug/screenshots/admonition_test_after_fix_20250815_204200_light_viewport.png
  poetry.lock
  pyproject.toml
  run_smart_build_nohup.sh
  test-projects/test-haive-template/packages/testhaive-core/src/testhaive/core/engine/config.py
  test_admonitions.html
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

feat: add fallback handling for sphinx-codeautolink union type issues
  src/pydevelop_docs/config.py
  src/pydevelop_docs/sphinx_codeautolink_wrapper.py
Due: check-intersphinx

refactor: remove union type wrapper - accept sphinx-codeautolink warnings
  build_haive_docs.sh
  build_haive_mcp.sh
  poetry.lock
  project_docs/issues/PYDEVELOP_DOCS_TROUBLESHOOTING_GUIDE.md
  project_docs/issues/UNION_TYPE_ERROR_FIX_GUIDE.md
  project_docs/issues/UNION_TYPE_ERROR_RESEARCH_PLAN.md
  pyproject.toml
  scripts/build_all_haive_docs.py
  scripts/build_haive_docs_v2.py
  simple_build_test.py
  smart_build_output/build_audit.json
  src/pydevelop_docs/config.py
  src/pydevelop_docs/sphinx_codeautolink_wrapper.py
  test-projects/test-haive-template/docs/source/autoapi/testhaive/core/engine/config/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/core/engine/index.rst
  test-projects/test-haive-template/docs/source/autoapi/testhaive/core/index.rst
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

docs: add comprehensive CSS issue analysis and fix plan
  project_docs/issues/CSS_ANALYSIS_REPORT.md
  project_docs/issues/CSS_COMMITS_TO_COMPARE.md
  project_docs/issues/CSS_FIX_PLAN_CAREFUL.md
  project_docs/issues/CSS_ISSUE_TIMELINE.md
  project_docs/issues/CSS_SIMPLIFICATION_PLAN.md
  project_docs/issues/DOCUMENTATION_VISUAL_ISSUES_REPORT.md
Due: check-intersphinx

fix: remove aggressive CSS styling to restore clean documentation
  src/pydevelop_docs/config.py
Due: check-intersphinx

docs: add CSS fix implementation summary
  project_docs/issues/CSS_FIX_IMPLEMENTATION_SUMMARY.md
Due: check-intersphinx

docs(css): complete CSS simplification - remove marketing-style documentation
  project_docs/issues/CSS_FIX_COMPLETE_SUMMARY.md
  project_docs/issues/CSS_FIX_VISUAL_COMPARISON.md
  scripts/cleanup_old_css.py
  scripts/update_css_all_packages.py
Due: check-intersphinx
