Repository pr1m8/pydevelop-docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  - repo: local
    hooks:
      - id: check-intersphinx
        name: Check intersphinx mappings
        entry: bash -c 'cd docs && poetry run sphinx-build -b linkcheck -W --keep-going source build/linkcheck'
        language: system
        files: '\.(rst|md|py|toml)$'
        pass_filenames: false
        verbose: true

      - id: validate-sphinx-build
        name: Validate Sphinx documentation build
        entry: bash -c 'cd docs && poetry run sphinx-build -b html -W --keep-going source build/test'
        language: system
        files: '^docs/.*\.(rst|md|py)$|^pyproject\.toml$'
        pass_filenames: false

      - id: clear-intersphinx-cache
        name: Clear intersphinx cache if dependencies changed
        entry: bash -c 'if git diff --cached --name-only | grep -q "pyproject.toml"; then poetry run python -m seed_intersphinx_mapping; fi'
        language: system
        files: '^pyproject\.toml$'
        pass_filenames: false

feat: integrate seed-intersphinx-mapping for automatic documentation linking
  .gitignore
  .trunk/trunk.yaml
Due: none

chore: checkpoint before cleanup - all portable tool versions and docs present
  CAREFUL_CLEANUP_PLAN.md
  CLEANUP_PLAN.md
  RECOVERY_COMPLETE.md
Due: check-intersphinx

cleanup: remove simple/portable tool versions - keeping only full monorepo documentation system
  CLEANUP_SUMMARY.md
  INTEGRATION_GUIDE.md
  PROJECT_STRUCTURE.md
  UNIVERSAL_README.md
  install.py
  pyautodoc.py
  pyautodoc_simple.py
  standalone/README.md
  standalone/pyautodoc_standalone.py
Due: check-intersphinx

cleanup: remove remaining simple tool references and update README for monorepo focus
  CAREFUL_CLEANUP_PLAN.md
  CLEANUP_PLAN.md
  README.md
  integrate.sh
Due: check-intersphinx

docs: consolidate documentation files into organized structure
  docs/SPHINX_EXTENSIONS_GUIDE.md
  docs/project-notes/DOCUMENTATION_STATUS.md
  docs/project-notes/MONOREPO_DOCS_STRATEGY.md
  docs/project-notes/RECOVERY_COMPLETE.md
  docs/project-notes/RECOVERY_SUMMARY.md
  docs/project-notes/TODO.md
Due: check-intersphinx, validate-sphinx-build

Add TODO.md file with initial breadcrumb suggestion
  CLAUDE.md
  docs/source/docs/source/conf.py
Due: check-intersphinx, validate-sphinx-build

docs: update Sphinx configuration for Haive AI Agent Framework
  docs/source/conf.py
Due: check-intersphinx, validate-sphinx-build

feat: introduce haive-docs package with shared Sphinx configuration
  example_package_conf.py
  pyproject.toml
  src/haive_docs/__init__.py
  src/haive_docs/config.py
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

feat: create clean Sphinx configuration for Haive Central Documentation Hub
  docs/source/conf_clean.py
  src/haive_docs/config.py
Due: check-intersphinx, validate-sphinx-build

feat: enhance Sphinx configuration for Haive documentation
  src/haive_docs/config.py
Due: check-intersphinx

feat: add universal documentation initialization CLI tool
  HAIVE_DOCS_README.md
  pyproject.toml
  src/haive_docs/cli.py
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

feat: add initial changelog and template for documentation updates
  changes/.gitkeep
  changes/.template.md
  changes/1.feature.md
Due: check-intersphinx

feat: add git-cliff configuration for changelog generation
  cliff.toml
  pyproject.toml
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

fix: update towncrier configuration for changelog management
  pyproject.toml
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

feat: enhance documentation management with auto-fix utilities
  docs/source/changelog.rst
  poetry.lock
  src/pydevelop_docs/autofix.py
  src/pydevelop_docs/cli.py
  src/pydevelop_docs/commands.py
  src/pydevelop_docs/config.py
  src/pydevelop_docs/display.py
  src/pydevelop_docs/templates/changelog.rst
Due: check-intersphinx, validate-sphinx-build

feat: comprehensive documentation overhaul and extension cleanup
  EXTENSIONS.md
  QUICKSTART.md
  README.md
  poetry.lock
  pyproject.toml
  src/pydevelop_docs/__init__.py
  src/pydevelop_docs/config.py
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

feat: initial release of pydevelop-docs with Hatch + uv + PEP 420
  poetry.lock
  pyproject.toml
  requirements.txt
  src/pydevelop/docs/__init__.py
  src/pydevelop/docs/autofix.py
  src/pydevelop/docs/builders.py
  src/pydevelop/docs/cli.py
  src/pydevelop/docs/commands.py
  src/pydevelop/docs/config.py
  src/pydevelop/docs/display.py
  src/pydevelop/docs/interactive.py
  src/pydevelop/docs/package_handlers.py
  src/pydevelop/docs/templates/Makefile
  src/pydevelop/docs/templates/central_hub_conf.py
  src/pydevelop/docs/templates/changelog.rst
  src/pydevelop/docs/templates/haive-docs.yaml
  src/pydevelop/docs/templates/static/css/custom.css
  src/pydevelop/docs/templates/static/js/api-enhancements.js
  uv.lock
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

feat: introduce enhanced logging and analysis tools for Sphinx builds
  docs/enhanced-logging-guide.md
  docs/source/_autoapi_templates/python/class.rst
  scripts/analyze_build_log.py
  scripts/audit.py
  scripts/enhanced_build_logger.py
  src/pydevelop_docs/autofix.py
  src/pydevelop_docs/cli.py
  src/pydevelop_docs/config.py
  src/pydevelop_docs/config_debug.py
  src/pydevelop_docs/display.py
  src/pydevelop_docs/mock_operations.py
  src/pydevelop_docs/sphinx_debug.py
Due: check-intersphinx, validate-sphinx-build

fix: update autoapi configuration to exclude misplaced test files
  src/pydevelop_docs/config.py
Due: check-intersphinx

feat: add docstring processing to fix RST formatting issues
  src/pydevelop_docs/config.py
Due: check-intersphinx

fix: update autoapi configuration to exclude additional test files
  src/pydevelop_docs/config.py
Due: check-intersphinx

feat: add documentation hub linking and updating commands
  src/pydevelop_docs/cli.py
  src/pydevelop_docs/link_builder.py
Due: check-intersphinx

feat(link-docs): major UX overhaul for documentation hub
  src/pydevelop_docs/link_builder.py
Due: check-intersphinx

fix: correct relative paths for package documentation links
  src/pydevelop_docs/link_builder.py
Due: check-intersphinx

fix: remove external package links from TOC tree to prevent broken sidebar links
  src/pydevelop_docs/link_builder.py
Due: check-intersphinx

feat: resolve AutoAPI hierarchical organization and add configurable TOC
  src/pydevelop_docs/cli.py
  src/pydevelop_docs/config.py
Due: check-intersphinx

feat: update conf.py generation templates with AutoAPI hierarchical fix documentation
  src/pydevelop_docs/builders.py
Due: check-intersphinx

docs: organize project documentation and add directives
  CLAUDE.md
  project_docs/README.md
  project_docs/architecture/CLI_CONFIG_CONSOLIDATION.md
  project_docs/issues/jinja2_research_comprehensive.md
  project_docs/testing/TESTING_PROGRESS_SUMMARY_20250813.md
Due: check-intersphinx

feat: Complete Issue #3 - Add comprehensive getting started content
  src/pydevelop_docs/cli.py
  src/pydevelop_docs/template_manager.py
  src/pydevelop_docs/templates/doc_templates/configuration.rst.jinja2
  src/pydevelop_docs/templates/doc_templates/installation.rst.jinja2
  src/pydevelop_docs/templates/doc_templates/quickstart.rst.jinja2
  src/pydevelop_docs/templates/doc_templates/section_index.rst.jinja2
  test-projects/test-haive-template/docs/source/guides/configuration.rst
  test-projects/test-haive-template/docs/source/guides/index.rst
  test-projects/test-haive-template/docs/source/guides/installation.rst
  test-projects/test-haive-template/docs/source/guides/quickstart.rst
  test-projects/test-haive-template/docs/source/index.rst
Due: check-intersphinx

fix(css): resolve comprehensive light mode text visibility issues
  test-projects/test-haive-template/docs/source/_static/furo-intense.css
Due: none

feat: implement unified documentation system with auto-detection
  project_docs/issues/unified_documentation_implementation.md
  src/pydevelop_docs/config.py
  src/pydevelop_docs/template_manager.py
  src/pydevelop_docs/templates/central_hub_conf.py.jinja2
  src/pydevelop_docs/templates/central_hub_index.rst.jinja2
Due: check-intersphinx

chore(pyproject) added sphinxcontrib-lunrsearch
  pyproject.toml
Due: check-intersphinx, validate-sphinx-build, clear-intersphinx-cache

docs: add template management guide for Issue #6 implementation
  project_docs/issues/issue_06/TEMPLATE_MANAGEMENT_GUIDE.md
Due: check-intersphinx
